<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Annonce Platform{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="{{ url_for('home') }}"><img src="{{ url_for('uploaded_file', filename='Petites-Annonces.jpg') }}" alt="Annonce Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}" class="{% if request.endpoint == 'home' %}active{% endif %}">Accueil</a></li>
                    <li><a href="{{ url_for('annonces_list') }}" class="{% if request.endpoint == 'annonces_list' %}active{% endif %}">Annonces</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('add') }}">Poster une annonce</a></li>
                        {% if current_user.is_admin %}
                            <li><a href="{{ url_for('admin_dashboard') }}" class="{% if request.endpoint == 'admin_dashboard' %}active{% endif %}">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Connexion</a></li>
                        <li><a href="{{ url_for('register') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Annonce Platform. Tous droits réservés.</p>
        </div>
    </footer>

</body>
</html>
